.co{
    border:2px solid black;
   background-color: rgb(80, 44, 74);
  width:100%;
  
  }
  .con{
   margin-top: 10px;
   border-radius: 100px 10px 100px 10px;
  }
  .h2{
   color:rgb(226, 217, 221);
   margin-left: 50px;
   margin-top:200px;
   
  }
  .in{
   border-radius: 10px 10px 10px 10px;
   height:40px;
   padding:20px;
   margin-left: 10px;
   width: 200px;
   margin-top:5px;
  }
  .lab{
   margin-right:70px;
   justify-content: flex-end;
  }
  .lab1{
   margin-left: 20px;
  }
  .lab2{
   margin-left: 70px;
  }
  .bt{
   width:200px;
   height:50px;
   text-align:center;
   margin-top: 10px;
   margin-left:100px;
  }
  .lab3{
   margin-left: 45px;
  }
  .in1{
   margin-left: 50px;
  }
  .in2{
  margin-left: 35px;;
  }
  
  .in3{
   margin-left: 80px;
  }
  .in4{
   margin-left: 90px;
  }
  .in5{
   margin-left: 60px;
  }
  .lab5{
   margin-left: 45px;
  }
  .in6{
   margin-left:80px;
  }
  .lab6{
   margin-left: 25px;
  }
  .in7{
   margin-left: 50px;
  }
  .lab7{
   margin-left: 40px;
  }
  .in8{
   margin-left: 70px;
  }
  